{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script src="static/js/multiselect-dropdown-main/multiselect-dropdown.js" ></script>
{% endblock %}


{% block content %}
<div class="container">

    <h2>Hate Speech Detection</h2>

    <div id="text" class="tab-content">
        <label for="text-input">Input</label>
        <textarea id="text-input" placeholder="Insert text to detect here..."></textarea>
    
    
        <button class="detecths-btn">Detect</button>
      </div>

</div>
  

  {% endblock %}