<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DADOM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="static/js/multiselect-dropdown-main/multiselect-dropdown.js" ></script>
</head>

<body>
    <div class="telefonica_index">
        <img id="logo_dadom" src="static/imgs/dadom.png" alt="DADOM Logo">
    </div>

    <!-- Nav Bar -->
    {% include 'additional/nav.html' %}

    

    <div class="container">
        <form action="/predict" method="post" style="z-index: 1;">

            <!-- OB field -->
            {% include 'index/select_ob_index.html' %}

            <!-- Models field -->
            {% include 'index/select_models_index.html' %}

            <!-- Phrase field -->
            {% include 'index/select_phrase_index.html' %}
    
            <input id="idioma_submit" type="submit" value="Submit">

        </form>
        <div class="labs_index">
            <img id="logo_labs" src="static/imgs/labs_logo.png" alt="Labs Logo">
        </div>
    </div>

    <!-- The Modal for Submit -->
    {% include 'additional/submit_modal.html' %}
    
    <script type="text/javascript" src="static/js/char_count.js"></script>

    <!-- Disclaimer -->
    {% include 'additional/disclaimer.html' %}

</body>



<script>
    // IDIOMA 
    document.addEventListener('DOMContentLoaded', function() {
        // Objeto con las traducciones
        var traducciones = {
            "ob": {
                'es': "Escoge tu OB:",
                'en': "Choose your OB:",
                'br': "Escolha seu OB:"
            },
            "description": {
                'es': "Escribe la conclusión:",
                'en': "Write conclusion:",
                'br': "Escreva a conclusão:"
            },
            "model": {
                'es': "Elige modelo predictivo:",
                'en': "Choose predictive model:",
                'br': "Escolha o modelo preditivo:"
            },
            "submit": {
                'es': "Enviar",
                'en': "Submit",
                'br': "Enviar"
            },
            "loading": {
                'es': "Se está procesando la información...",
                'en': "The information is being processed...",
                'br': "A informação está sendo processada..."
            },
            "disclaimer": {
                'es': "⚠️ Disclaimer: Esta es una app informativa. Decisiones no deberían tomarse basadas 100% en estos resultados",
                'en': "⚠️ Disclaimer: This is an informational app. Decisions should not be made based 100% on these results",
                'br': "⚠️ Disclaimer: este é um aplicativo informativo. As decisões não devem ser tomadas 100% baseadas nesses resultados"
            },
            
        };

        // Función para cambiar el texto según el idioma
        function cambiarTexto(idioma) {
            for (var key in traducciones) {
                var elemento = document.getElementById('idioma_' + key);
                if (elemento) {
                    if (elemento.tagName === 'INPUT') {
                        // Para elementos input, cambia el value
                        elemento.value = traducciones[key][idioma] || traducciones[key]['es'];
                    } else {
                        // Para otros elementos, cambia el innerHTML
                        elemento.innerHTML = traducciones[key][idioma] || traducciones[key]['es'];
                    }
                }
            }
        }

        // Obtener el idioma preferido del navegador y ajustar los textos
        var idioma = navigator.language || navigator.userLanguage;
        cambiarTexto(idioma.slice(0, 2));
    });


    // MODAL 
    var modal = document.getElementById("myModal"); // Get the modal
    var btn = document.getElementById("idioma_submit"); // Get the button that opens the modal

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
        }
</script>

</html>