*csv
embeddings
models
*png
*jpg
*pkl
*model
*npy
*joblib
*xlsx
*.xlsx
*.txt
OpenAI
EXIST2024_Memes_Dataset
EXIST2024_Tweets_Dataset
EXIST 2024 Dataset.zip
EXIST 2024/*.pdf
AMI_IBEREVAL2018
__pycache__