# Files to ignore
__pycache__
data
*csv
embeddings
embeddings_20-12-23
*pkl
*npy
*model
*joblib
EXIST_2024
Lexicons
*txt
*png
*jpg
*xlsx
*ini
WebApp

# Except
!MachineLearning/ML Experiments/*xlsx
!DeepLearning/DL Experiments/*xlsx
!GenerativeAI/GenAI Experiments/*xlsx