
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica";
    color: #1a2e49;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Helvetica";
    background-color: #f4f4f4;
    color: #1a2e49;
    margin: 0;
    padding: 0;
    font-size: 18px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

label, select, input {
    font-family: "Helvetica";
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 4px;
}

input[type="text"], select {
    width: 100%; 
    font-size: 18px;
}


textarea {
    resize: none;
    font-family: "Helvetica";
}




.container {
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}


.container-table {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ================ INDEX ================ */
@media (max-width: 768px) {
  
    .intro-image, .intro-text {
      width: 100%;
    }
  
    .intro-image img {
      max-width: 100%;
      height: auto; /* Maintain aspect ratio */
    }
  
    .intro-text {
      padding: 0;
    }
  }

  .intro-image img {
    width: 50%; /* You can adjust the width as needed */
    max-width: 600px; /* Set a max-width to ensure the image is responsive */
  }
  
  .intro-text {
    width: 50%; /* Matching the image width */
    padding-left: 20px; /* Add some space between the image and the text */
  }

.lead {
    font-size: 1.3em;
    color: #555;
    margin-bottom: 2em;
  }
  
  p {
    font-size: 1em;
    margin-bottom: 1em;
  }
  
  .btn-learn-more {
    background-color: #0275d8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .btn-learn-more:hover {
    background-color: #025aa5;
    cursor: pointer;
  }



/* ================ NAVBAR ================ */

.main-content {
    transition: margin-left 0.3s ease; /* Transición suave para el margin-left */
    margin-left: 80px; /* Margen inicial igual al ancho de la navbar contraída */
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .navbar:hover + .main-content {
    margin-left: 250px; /* Margen cuando la navbar está expandida */
  }

.navbar {
    background-color: #fd7b6e; /* Fondo blanco para la barra lateral */
    width: 80px; /* Ancho inicial para la barra lateral */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease; /* Transición suave para el efecto de despliegue */
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1); /* Sombra suave para la barra lateral */
    z-index: 1000;
  }

  .navbar:hover {
    width: 250px; /* Ancho al hacer hover */
  }

  /* Estilo para el logo o título de la barra lateral */
  .navbar-logo {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    background-color: #f2f2f2; /* Fondo para el área del logo */
  }

  .navbar-logo img {
    width: 50px; /* Ancho inicial para el logo */
    transition: width 0.3s ease; /* Transición suave para el ancho del logo */
  }

  .navbar-logo span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 1.4s ease; /* Transición para el texto al hacer hover */
  }

  .navbar:hover .navbar-logo span {
    opacity: 1; /* Hacer visible el texto al hacer hover */
  }

  .navbar:hover .navbar-logo img {
    width: auto; /* Ancho del logo al hacer hover */
    max-width: 100%; /* Asegura que el logo no exceda el ancho de la barra lateral */
    height: 50px; /* Altura automática para mantener la proporción de la imagen */
  }

  /* Estilo para los elementos del menú */
  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff; /* Color del texto */
    text-decoration: none;
    background-color: #fd7b6e; /* Fondo de los elementos del menú */
    transition: background-color 0.3s ease; /* Transición para el fondo al hacer hover */
  }

  .menu-item:hover {
    background-color: #f37468; /* Color de fondo al hacer hover */
  }

  /* Cajas para los iconos */
  .icon-box {
    display: inline-block;
    width: 40px; /* Tamaño para la caja del icono */
    height: 40px; /* Tamaño para la caja del icono */
    background-color: #e0e0e0; /* Fondo para la caja del icono */
    margin-right: 10px; /* Espaciado a la derecha del icono */
    text-align: center;
    line-height: 40px; /* Centrar el icono verticalmente */
    border-radius: 10px; /* Bordes redondeados para la caja del icono */
  }

  /* Estilo para el texto del menú (oculto por defecto) */
  .menu-text {
    display: none;
    white-space: nowrap;
  }

  .navbar:hover .menu-text {
    display: inline; /* Mostrar texto cuando la barra lateral esté desplegada */
  }

  .navbar:hover .disclaimer-text {
    display: block;
}

.navbar:hover .disclaimer-icon {
    display: none;
}



/* ================ HS DETECTOR ================ */


  #text {
    display: block;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    margin-top: 6px;
    border-radius: 4px;
    resize: vertical;
  }
  

  
  .detecths-btn {
    width: 100%;
    background-color: #fd7b6e;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .detecths-btn:hover {
    background-color: #f37468;
  }



/* ================ INICIO HS DETECTOR ================ */

.simple-body {
    background-color: #fd7b6e; /* Or any color you prefer */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.simple-body .textarea-container {
    background-color: #fff; /* Light background color */
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.simple-body .textarea-input {
    width: 400px; /* Adjust the width as needed */
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    resize: none;
}

.simple-body .send-icon {
    width: 16px; /* or the size you prefer */
    height: auto;
    margin-right: 8px; /* creates space between the icon and the text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple-body .send-button {
    background-color: #1a2e49; /* Button background */
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    margin-left: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.simple-body .send-button:hover {
    background-color: #142336; /* Button hover state */
}

.simple-body .footer-text {
    position: absolute;
    bottom: -1.5rem; /* Adjust as necessary */
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: #7f8c8d;
}

.simple-body .footer-text img {
    width: 20px; /* Adjust size as needed */
    vertical-align: middle;
}




.textarea-container {
    --c: #f1f1f1; /* the color */
    --b: .1em;    /* border length */
    --d: 20px;    /* the cube depth */
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid transparent;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      conic-gradient(at left var(--d) bottom var(--d),
        transparent 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        transparent 90deg, var(--c) 0) padding-box;
    transform: translate(calc(var(--d)/-1), var(--d));
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: transform 0.5s, clip-path 0.5s;
  }
  
  .textarea-container:hover {
    transform: translate(0, 0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }